:root {
    font-family: 'Hanken Grotesk', sans-serif;
    --orange-color: rgb(245, 132, 31);
    --lightgray-color: rgb(245, 245, 245);
    --lightblue-color: rgb(241, 249, 252);
    --blue-color: rgb(45, 66, 117);
    --darkblue-color: rgb(22, 33, 60);
    --skyblue-color: rgb(142, 202, 230);
}

header {
    margin-bottom: 2em ;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2em;
    background-color: var(--lightgray-color);
    padding: 0.5em;
    margin-bottom: 1em;
}

.contact__1 {
    display: flex;
    flex-direction: row;
}
.contact__1--item {
    display: flex;
    align-items: top;
    font-size: 10px;
    font-weight: 700;
}
.contact__1--item > img {
    height: 2em;
}
.contact__1--item2 {
    padding-left: 0.75em;
}


/*burger menu---------------------------------------------------------------*/
.navbar {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    margin: 0px 16px;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
    text-transform: uppercase;
    font-size: 0.75em;
    text-decoration: none;
}

.hamburger-menu::after {
    content: url(../icons/hamburger.svg);
    z-index: 1;
}


.navbar__menu {
    position: absolute;
    width: 100vw;
    top: -16px;
    left: -16px;
    text-align: center;
    background-color: var(--lightgray-color);
    transform-origin: top;
    transform: scaleY(1);
    transition: .1s;
}

*, *:visited {
    color: var(--darkblue-color);
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.header__upper-section {
    padding: 1rem 0;
    margin: 0 16px 8px 16px;
    display: flex;
    justify-content: space-between;
}
.header__contacts {
    display: flex;
    gap: 1rem;
}
.navbar__menu--hidden {
    transform: scaleY(0);
}
.nav__item {
    font-weight: 700;
    margin-bottom: .5rem;
}
/* footer -------------------------------------------------------------------------------- */

footer {
    background-color: var(--darkblue-color);
    color: var(--skyblue-color);
    margin-bottom: -5px;
}
footer > div > section > *:visited {
    color: var(--skyblue-color);
}
.logoipsum__barva {
    color: skyblue;
}

footer section {
    width: 90%;
    margin: auto;
}
.logoipsum {
    padding-top: 3em;
    color: var(--skyblue-color);
}
.logoipsum img {
    margin-bottom: 1em;
}
.logoipsum__school a {
    font-weight: 800;
}
.logoipsum__school a,p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
.videotutorialy, .Podpora, .menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.videotutorialy > h3, .Podpora > h3, .menu > h3 {
    font-size: larger;
    font-weight: 800;
    margin-bottom: 1.5em;
    color: var(--skyblue-color);
}
.foot__odkazy > a {
    color: var(--skyblue-color);
    font-size: smaller;
}
.foot__creator {
    text-align: right;
    color: skyblue;
    padding-bottom: 5px;
}
hr {
    background-color: skyblue;
}

/* desktop------------------------------------------------------------------------ */
@media only screen and (min-width: 1024px) {
    
    /* header---------------------------------------------------- */
    .contact__1--item > p {
        font-size: medium;
    }
    .contact__1--item > img {
        padding-top: 6px;
    }

    /* uvod--------------------------------------------------------------- */

    .footer__flex {
        display: flex;
        width: 70%;
        margin: auto;
    }
    footer > section {
        width: 70%;
        margin: auto;
    }

}