:root {
    font-family: 'Hanken Grotesk', sans-serif;
    --orange-color: rgb(245, 132, 31);
    --lightgray-color: rgb(245, 245, 245);
    --lightblue-color: rgb(241, 249, 252);
    --blue-color: rgb(45, 66, 117);
    --darkblue-color: rgb(22, 33, 60);
    --skyblue-color: rgb(142, 202, 230);
}
/* mobile first ---------------------------------------------------------------------- */
body {
    font-family: 'Hanken Grotesk', sans-serif;
}
.button {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: var(--orange-color);
    max-width: fit-content;
    height: 50px;
    vertical-align: middle;
    border: hidden;
    border-radius: 10em;
    
}
.button a {
    text-decoration: none;
    color: var(--lightblue-color);
    font-weight: 600;
    padding: 0 1em 0 1em;
}
/* úvod */
.uvod__bot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
em {
    color: var(--orange-color);
    text-decoration: none;
}
.uvod {
    margin: 1em;
}
.uvod__fajfky {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.uvod__img > img {
    display: block;
    margin: auto;
    width: 100%;
    max-height: 700px;
    max-width: 1050px;
    object-fit: cover;
    border: hidden;
    border-radius: 10px;
    margin-bottom: 2em;
}
.uvod__button {
    margin-bottom: 2em;
}

/* výhody------------------------------------------------------------------------- */

.výhody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    background-color: var(--lightgray-color);
    padding-top: 1em;
    padding-bottom: 3em;
}
header > h2 {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

.vyhody__ikony div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vyhody__ikony div > img {
    background-color: var(--darkblue-color);
    padding: 3em;
    border: hidden;
    border-radius: 100em;
    width: 45px;
    height: 45px;
}
.vyhody__ikony div > p {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    width: 80%;
    font-weight: 800;
}
.výhody__linka {
    width: 80%;
    border-top: 1px dashed var(--skyblue-color);
    margin: 3em;
}
.vyhody__popisy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
.vyhody__popisy div {
    display: flex;
    flex-direction: column;
    align-items: top;
    background-color: white;
    width: 75%;
    padding: 1.5em;
    border: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 var(--blue-color), 0 6px 20px 0 var(--blue-color);
}
.vyhody__popisy div > h4 {
    margin: 1em;
    margin-left: 0;
}
.vyhody__popisy div > p {
    margin: 1em;
    margin-left: 0;
    height: 5em;
    overflow: hidden;
}
.vyhody_button {
    margin-top: 2em;
}

/* příběh---------------------------------------------------------------------- */

.pribeh {
    padding-top: 3em;
    width: 90%;
    margin: auto;
}
.pribeh h3 {
    font-size: x-large;
}
.pribeh p {
    margin-bottom: 1em;   
}
.pribeh__img > img {
    display: block;
    width: 100%;
    object-fit: cover;
    border: hidden;
    border-radius: 10px;
}
.pribeh__button {
    margin-bottom: 1em; 
}

/* Napsali o nás------------------------------------------------------------- */

.psani {
    padding-top: 2em;
    width: 90%;
    margin: auto;
}
.psani__section {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
    align-items: center;
}
.psani__section img {
    display: block;
    width: 100%;
    object-fit: cover;
    border: hidden;
    border-radius: 50%;
    max-width: 150px;
}
.psani__section--article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1em;
    max-height: 7em;
}
.psani__section--article .article1 {
    overflow: hidden;
    height: min-content;
    margin: 0;
}
.psani__section--article .article2 {
    font-weight: 700;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
.psani__section--article .article3 {
    font-weight: 200;
    font-size: small;
    margin: 0;
}

/* aktuality------------------------------------------------------------------ */

.aktuality {
    background-color: var(--lightgray-color);
    padding-top: 2em;
    padding-bottom: 1em;
}
.aktuality__article {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90%;
    margin-bottom: 1.5em;
}
.aktuality__article--2 {
    margin-left: 1em;
}
.aktuality__article--2 h3 {
    font-weight: 800;
}
.aktuality__article--2 p {
    max-height: 5em;
    overflow: hidden;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.aktuality__article--2 a {
    color: var(--orange-color);
    font-weight: 800;
}

/* desktop------------------------------------------------------------------------ */
@media only screen and (min-width: 1024px) {
    .padding-right {
        padding-right: 15%;
    }
    .contact__1 {
        padding-left: 15%;
    }
    .navbar {
        padding-left: 15%;
        padding-right: 15%;
    }
    .uvod {
        padding-left: 15%;
        padding-right: 15%;
    }
    .contact__1--item > p {
        font-size: medium;
    }
    .contact__1--item > img {
        justify-content: center;
    }

    /* uvod--------------------------------------------------------------- */
    .uvod__top  {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    h1 {
        font-size: 3em;
    }
    .uvod__button {
        align-content: baseline;
    }
    .uvod__top > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .uvod__img > img {
        margin: 0;
    }
    .uvod__bot {
        margin-top: 2em;
    }

    /* vyhody-------------------------------------------------------------- */

    .vyhody__ikony {
        display: flex;
        flex-direction: row;
        max-width: 70%;
    }
    .vyhody__ikony > div {
        width: 300px;
        max-width: 350px;
    }
    .vyhody__popisy {
        flex-direction: row;
        width: 70%;
    }
    .vyhody__popisy > div {
        min-height: 200px ;
    }
    
    /* pribeh---------------------------------------------------------------------- */
    
    .pribeh__flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
        margin: auto;
    }
    .pribeh__flex--article {
        max-width: 500px;
        min-width: 400px;
    }
    .pribeh__articleflex {
        display: flex;
        flex-direction: column;
    }
    .pribeh__img > img {
        max-width: 600px;
    }

 
    /* psani------------------------------------------------------------------------- */

    .psani__flex {
        display: flex;
        width: 70%;
        margin: auto;
    }
    .psani__flex img {
        max-width: 112px;
        min-width: 80px;
    }

    /* aktuality-------------------------------------------------------------------------- */
    .aktuality {
        padding-bottom: 3em;
    }
    .aktuality__flex {
        display: flex;
        width: 70%;
        margin: auto;
    }
    .aktuality__article {
        margin: 0;
        min-height: 104px;
    }
    .foot__flex {
        display: flex;
        width: 3em;
        justify-content: space-between;
    }
}
